div#enlaces{
  position: fixed;
  top:0px;
  left:0px;
  width:25%;
  height: 100%;
  border: 1px solid black;
}

div#lema{
  position: absolute;
  top: 0%;
  float:right;
  right: 0%;
  width:74.8%;
  height: 25%;
  border: 1px solid black;
}

div#contenedor_central{
  position: absolute;
  top: 25%;
  left: 25.1%;
  border: 1px solid black;
  float:right;
  width:75%;
  height: 75%;
  margin-right: 0px;
}

div#contenido{
  position: absolute;
  border: 1px solid black;
  float:left;
  width: 50%;
  height: 100%;
}

div#publi{
  position: absolute;
  left: 50.1%;
  border: 1px solid black;
  float:right;
  width:20%;
  height: 85%;
}

div#copyright{
  position: absolute;
  border: 1px solid black;
  top: 85.4%;
  left: 50.1%;
  width: 50%;
  height: 14.5%;
}