.borde {
	border: 2px solid;
}

#titulo {
	margin: 10vh;
	text-align: center;
}

a {
	color: black;
	font-style: bold;
}

a:visited {
	color: white;
	font-style: bold;
}

a:hover {
	color: yellow;
	font-style: bold;
}

nav {
	margin: 3vh;
	top: 50vh;
	background-color: white;
}

header {
	background-color: darkblue;
	margin: 1vh;
	text-align: center;
}

#caja_formulario {
	margin: 1vh;
	height: 59vh;
}

#caja_formulario h2 {
	text-align: center;
}

#formulario {
	margin-top: 10vh;
	margin-left: 15vh;
	height: 35vh;
	width: 50vh;
}

#correo_de_incidencias {
	height: 20vh;
	margin: 1vh;
	background-color: darkblue;
}

ul {
	list-style-type:none;
}

#reset {
	position: absolute;
	width: 15vh;
	height: 5vh;
	text-align: center;
	margin-left: 50vh;
}

#enviar {
	position: absolute;
	width: 15vh;
	height: 5vh;
	text-align: center;
	margin-left: 80vh;
}