body {
	background-color: #CFC;
}

p {
	color: #00F;
	font-size: 16px;
	font-family: Georgia, Cambria, serif;
}

h1 {
	color: #F00;
	font-family: Verdana, Calibri, sans-serif;
	font-size: 32px;
}

h2 {
	color: #A00;
	font-family: Verdana, Calibri, sans-serif;
	font-size: 24px;
}

li {
	color: #060;
}

#HTMLCSS {
	color: #FFF;
	background-color: #000;
	font-style: oblique;
}

#web {
	font-size: 20px;
	font-weight: bold;
}

a:link {
	color: red;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: red;
	text-decoration: underline;
}

a:active {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: #060;
	text-decoration: none;
}

a:focus {
	color: blue;
	text-decoration: underline;
}

.colum1 {
	background-color: white;
}

.colum2 {
	background-color: red;
}

.colum3 {
	background-color: green;
}

.colum4 {
	background-color: blue;
}

#teal {
	color: teal;
}

#red {
	color: red;
}

#blue {
	color: blue;
}

#orange {
	color: orange;
}

#purple {
	color: purple;
}

#olive {
	color: olive;
}

#fuchsia {
	color: fuchsia;
}

#green {
	color: green
}

div {
	text-align: center;
	background-color: white;
	height: 20%;
	width: 20%;
	margin-left: 40%;
}

#h1-ej4 {
	color: black;
}

#table-ej4 {
	margin-left: 40%;
}

.tr-ej4 {
	background-color: blue;
	color: white;
}