body {
  margin-left: 0px;
}

div#enlaces{
  border: 1px solid black;
  position: absolute;
  text-align: right;
  float: right;
  right: 0%;
  width: 66.66666666%;
  height: 24%;
}

div#lema{
  border: 1px solid black;
  position: absolute;
  float:left;
  width: 33.3333333333333%;
  height: 24%;
}

div#contenido{
  border: 1px solid black;
  position: absolute;
  top: 25%;
  left: 25%;
  float:left;
  width: 50%;
  height: 50%;
}

div#publi1{
  border: 1px solid black;
  position: absolute;
  top: 25%;
  float:left;
  width: 25%;
  height: 50%;
}

div#publi2 {
  border: 1px solid black;
  position: absolute;
  text-align: right;
  top: 25%;
  left: 75%;
  width: 25%;
  height: 50%;
}

div#copyright{
  border: 1px solid black;
  position: absolute;
  top: 75%;
  float:right;
  width: 100%;
  height: 25%;
}